
 <ul style="width: 60%;">
    <h1 style="color:brown">{{nom}}</h1>
    <p style="color: darkgreen;">{{text_statut}}</p>
    <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">{{temps_pub}}</p>
</ul>
